@{
    ViewData["Title"] = "Home Page";

}

@model CoursesViewModel

<div>
        
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Instructor</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                    {
                        <tr>
                            <td>@course.Name</td>
                            <td>@course.StartDate.ToLongDateString()</td>
                            <td>@course.Instructor.Name</td>
                        </tr>

                    }
               
        </table>
        

        

    </div>